---
layout: default
---

<div class="grid-item body">
  <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lulu_0.jpg"></img>
  <h1>Hi, I'm Xiaohan</h1>
  <div>
    I work on product growth. I made this website to learn how to make things on the world wide web and to share my adventures with you.
  </div>
  <div>
      {% if site.posts.size > 0 %}
      <h2 class="post-list-heading">{{ page.list_title | default: "Latest Notes" }}</h2>
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>

              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h3>
            </li>
          {% endfor %}
        </ul>

        <p><a href="{{ "/blog" | relative_url }}">see more</a></p>
      {% endif %}
  </div>
</div>